.container {
margin : 0 10px 0 0;
  display: grid;
  align-content: center;
  overflow: hidden;

}
:root {
  --gray-50: hsl(204, 45%, 98%);
  --gray-600: hsl(218, 17%, 35%);
  --gray-700: hsl(218, 23%, 23%);
  --gray-800: HSL(220, 26%, 14%);
  --gray-900: hsl(230, 21%, 11%);
  --gap: 2rem;
  --duration: 10s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));

  }
.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  color: var(--gray-50);
  margin-bottom: 5rem;
  text-align: center;
}
.marquee-wrapper {
  margin: auto;
  max-width: 500px;
}
.marquee {
  display: flex;
  gap: var(--gap);
}
.marquee-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-left var(--duration) linear infinite;
}
.marquee-tag-wrapper {
  text-decoration: none;
  color: teal;
  font-size: 1.125rem;
  line-height: 1.0rem;
  font-weight: 600;
  padding: 0.625rem 1.5rem 0.625rem 0.625rem;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 margin: 1px 0;
 border-radius:5px;

}
.marquee-tag-wrapper:hover {
  background-color: #1D1E2C;

}
.marquee-tag-container {
  display: flex;
  align-items: center;
}
.marquee-tag-icon {
  padding: 1.25rem;
  background-color: var(--gray-600);
  border-radius: 9999px;
}
.marquee-tag {
  margin-left: 0.75rem;
}
@keyframes scroll-left {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}
@media (prefers-reduced-motion: reduce) {
  .marquee-group {
    animation-play-state: paused;
  }
}
