a{
text-decoration: none
}



#webPageTitle{
font-size:28px;
margin : 0 0 0 30px;
}

.headerDetails{
display: flex;
height : 40px;
justify-content : space-between;
}

.headerDetails >*{
padding : 2px 0 0 0;
}


.routers{
display:flex;
margin : 0 0 0 300px;
}

.routers > *{
margin : 5px 15px 0 15px;
font-size:20px;
font-weight : normal;
color:grey;

  &:hover{
    color:black;
    cursor:pointer
   }
}

.buttonDrop{
background-color : #339999;
border-radius : 10px;
padding: 8px 8px 0 8px;
margin : 0 20px 0 0;
color : white;

    &:hover {
    background-color: teal;
    }
}

.buttonDrop >*{
background-color:teal;
min-height:30px;
}

.content{
display:flex;
justify-content:space-around;
}

.content >*{
margin : 0 15px 0 0;
}

img{
width:100px;
height: 100px;
}