<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<script src="{% static 'javascript/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'hor.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <h1>getJob</h1>
    <button onclick="Login()" id="btn">login</button>
    <div class="popup">
        <div id="login" class="popuptext">
           <form method="post" action="log" >
               {% csrf_token %}
            <input type="text" name="Lname" placeholder="name" class="formStyle">
            <input type="password" name="password" placeholder="password" class="formStyle">
            <input type="submit" value="submit">
           </form>
        </div>
    </div>
    <label class="toggle">
        <input type="checkbox">
        <span class="slider" onclick="toggleData()"></span>
    </label>
    <div class="nameClass" id="data1">
        <p>employee </p>
    </div>
    <div class="nameClass" id="data2" style="display: none;">
        <p>employer</p>
    </div>
</div>
<br>
<br>
<br>
<div class="edit" id="Employee" >
    <div class="sortIn">
        <p>Gone are the days when we open the daily newspaper,
            searching for the job we wish to do
             from the lot of
        a number of jobs in the classified section</p>
        <!-- <img src=" {% static 'login.jpg' %}"> -->
        <img src="{% static 'jobw.webp' %}">
    </div>
    <div class="sortIn">
        <!-- <img src=" {% static 'login.jpg' %}"> -->
        <img src="{% static 'jobw2.png' %}">
       <div>
          <p>Get the job you love with a click from your finger.<br>
            GET JOB.
          </p>
          <div class="popup"><button onclick="Register()" id="btn2">register</button>
              <div class="popuptext" id="Register">
                <form method="post" action="reg">
                    {% csrf_token %}
                    <input type="text" name="jsname" placeholder="name"  class="formStyle" required>
                    <input type="number" name="jsage" placeholder="age" class="formStyle">
                    <input type="number" name="jsnumber" placeholder="ph number" class="formStyle">
                    <input type="text" name="jsgender" placeholder="gender" class="formStyle">
                    <input type="text" name="jseducation" placeholder="Education" class="formStyle">
                    <input type="email" name="jsemail" placeholder="email" class="formStyle" required>
                    <input type="password" name="jspassword" placeholder="password" class="formStyle" required>
                    <input type="submit" value="submit" class="formStyle">
                </form>
               </div>
              </div>
       </div>
    </div>
</div>
<div class="edit" id="Employer"  style="display:none;">
    <div class="sortIn">
        <p>Gone are the days when we open the daily newspaper,
            searching for the job we wish to do
             from the lot of
        a number of jobs in the classified section</p>
        <img src=" {% static 'jobw.webp' %}">
    </div>
    <div class="sortIn">
        <img src=" {% static 'jobw2.png' %}">
        <div>
             <p>Get the job you love with a click from your finger.<br>
                GET JOB.</p>
            <div class="popup"><button onclick="hireNow()">hire now</button>
                <div class="popuptext" id="hire">
                  <form method="post" action="hir">
                     {% csrf_token %}
                      <input type="name" name="jgname" placeholder="Job Name" class="formStyle" required>
                      <input type="name" name="jgfield" placeholder="Company" class="formStyle">
                      <input type="number" name="jgnumber" placeholder="contact number" class="formStyle">
                      <input type="text" name="jglocation" placeholder="location" class="formStyle">
                     <input type="email" name="jgemail" placeholder="email" class="formStyle" required>
                     <input type="password" name="jgpassword" placeholder="password" class="formStyle" required>
                     <input type="submit" value="submit">
                  </form>
                 </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div class="next">
    <br>
    <center><p style="color: aliceblue;">Leading Giants in the IT Sector</p></center>

    <div class="row">
        <div class="column">
            <center><img src="{% static 'ts.jpg' %}" style="border-radius: 50%;"></center>
        </div>
        <div class="column">
            <center><img src="{% static 'eh.jpg' %}" style="border-radius: 50%;"></center>
        </div>
        <div class="column">
            <center><img src="{% static 'sr.jpg' %}" style="border-radius: 50%;"></center>
        </div>
    </div>

    <br>
    <br>
</div>

<div class="container">
    <img src="{% static 'jbb.avif' %}" style="float: right;width: 900px;height: 450px;">
    <div class="textblock">
        <h3>Various Jobs For You</h3>
        <p>Software Engineer</p>
        <p>Data Analyst</p>
        <p>Cyber Security</p>
        <p>UI-UX Designer</p>
    </div>
</div>


<div class="last"><center><h1>getJob</h1></center>
<br>

</div>

</body>
</html>