<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Select from the various types of jobs available,the one which you want.</h4>
        <br>
        <!-- <div class="row" style="border: 3px solid black;"> -->
            <div class="card1">
            <h4><b>Software Engineer</b></h4>
            <br>
            <p>Employer:TechSoft</p>
            <li>Requirements:Btech/Degree in IT</li>
            <br>
            <li>Worktime:7-8hrs</li>
            <br>
            <li>Salary:30,000 per month</li>
            <br>
            <p>Contact:tsft@gmail.com<p>
            <a class="btn btn-success">Apply Now</a>
            <!-- </div> -->
        </div>
        <br>
        <!-- <div class="row" style="border: 3px solid black;"> -->
            <div class="card1">
            <h4><b>Cyber Security</b></h4>
            <br>
            <p>Employer:TechSoft</p>
            <li>Requirements:Btech/Degree in IT</li>
            <br>
            <li>Worktime:7-8hrs</li>
            <br>
            <li>Salary:25,000 per month</li>
            <br>
            <p>Contact:tsft@gmail.com<p>
            <a class="btn btn-success">Apply Now</a>
            <br>
            </div>
        </div>
        <br>
        <!-- <div class="row" style="border: 3px solid black;"> -->
            <div class="card1">
            <h4><b>Data Analyst</b></h4>
            <br>
            <p>Employer:TechSoft</p>
            <li>Requirements:Btech/Degree in IT</li>
            <br>
            <li>Worktime:7-8hrs</li>
            <br>
            <li>Salary:30,000 per month</li>
            <br>
            <p>Contact:tsft@gmail.com<p>
            <a class="btn btn-success">Apply Now</a>
            </div>
        <!-- </div> -->
        <br>
        <!-- <div class="row" style="border: 3px solid black;"> -->
            <div class="card1">
            <h4><b>UI UX Designer</b></h4>
            <br>
            <p>Employer:TechSoft</p>
            <li>Requirements:Btech/Degree in IT</li>
            <br>
            <li>Worktime:4-5hrs</li>
            <br>
            <li>Salary:40,000 per month</li>
            <br>
            <p>Contact:tsft@gmail.com<p>
            <a class="btn btn-success">Apply Now</a>
            </div>
        <!-- </div> -->
        <br>
        <!-- <div class="row" style="border: 3px solid black;"> -->
            <div class="card1">
            <h4><b>Fullstack Developer</b></h4>
            <br>
            <p>Employer:TechSoft</p>
            <li>Requirements:Btech/Degree in IT</li>
            <br>
            <li>Worktime:6-7hrs</li>
            <br>
            <li>Salary:30,000 per month</li>
            <br>
            <p>Contact:tsft@gmail.com<p>
            <a class="btn btn-success">Apply Now</a>
            </div>
        <!-- </div> -->
        <br>
        <!-- <div class="row" style="border: 3px solid black;"> -->
            <div class="card1">
            <h4><b>Computer Hardware Technician</b></h4>
            <br>
            <p>Employer:TechSoft</p>
            <li>Requirements:Btech/Degree in IT</li>
            <br>
            <li>Worktime:8-9hrs</li>
            <br>
            <li>Salary:60,000 per month</li>
            <br>
            <p>Contact:tsft@gmail.com<p>
            <a class="btn btn-success">Apply Now</a>
            </div>
        <!-- </div> -->
</div>

</body>
</html>