<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <title>Employee Profile</title>
    <style>
    .jobcard{
  box-shadow: 0px 4px 8px 0px;
  box-shadow:black;
  width:150%;
  box-sizing:border-box;
  margin:0% 80% 0% 0%;
  padding-left: 20px;
  background-size:100% 100%;
  color: rgb(0, 0, 0);
}

.employeecard{
  box-shadow:8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 40%;
  margin-left: 25%;
  color:black;
}

.jobs{
margin:0% 20% 0% 0%;
}

.userprofile{
display:flex;
}
</style>
<!--	<script type="text/javascript" src="{% static 'add.js' %}"></script>-->


    </head>
<body>
<!--    {% for i in data%}-->
<!--        <div class="card" style="text-align: center;">-->
<!--            <br>-->
<!--            <i class="fa fa-user-circle fa-4x"></i>-->
<!--            <h1>John Wick</h1>-->
<!--            <p class="title"></p>-->
<!--            <p>Intern In Python</p>-->
<!--            <i class="fa fa-envelope">Email:{{i.name}}</i>-->
<!--            <i class="fa fa-map-marker">Location:Calicut</i>-->
<!--            <i class="fa fa-phone">Phone:225577</i>-->
<!--            <a class="btn btn-success">Contact</a>-->
<!--          </div>-->
<!--    {% endfor %}-->
<!--    {% for i in data %}-->
<!--        <button onclick="showData()">{{i.cmpnyname}}</button>-->

<!--    {% endfor %}-->
<!--    <div class="popup">-->
<!--            {% for j in data %}-->
<!--               <div id="showdata" class="popuptext">-->
<!--                   <div class="card1">-->
<!--                        <h4><b>Software Engineer</b></h4>-->
<!--                        <p>Employer:{{j.jobName}}</p>-->
<!--                        <li>Requirements:Btech/Degree in IT</li>-->
<!--                        <li>Worktime:7-8hrs</li>-->
<!--                        <li>Salary:30,000 per month</li>-->
<!--                        <p>Contact:tsft@gmail.com</p>-->
<!--                        <a class="btn btn-success">Apply Now</a>-->
<!--                   </div>-->
<!--               </div>-->
<!--            {% endfor %}-->
<!--    </div>-->
<!--    </body>-->
<!--</html>-->
<br>
<br>
       <div class="userprofile">
           <br>

            <div class="jobs">

                <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Jobs <i class="fa fa-suitcase"></i></b></h3>


                    <div class="jobcard">
                    <h4><b>Software Engineer</b></h4>
                    <p>Employer:TechSoft</p>
                    <li>Requirements:Btech/Degree in IT</li>
                    <br>
                    <li>Worktime:7-8hrs</li>
                    <br>
                    <li>Salary:30,000 per month</li>
                    <br>
                    <p>Contact:tsft@gmail.com<p>
                    <a class="btn btn-success" onclick="fun()">Apply Now</a>
                    <script>
                        function fun()
                        {
                            alert("You have applied for software engineer");
                        }
                    </script>

                </div>
                <br>
                <br>
                <br>
                        <div class="jobcard">
                    <h4><b>Cyber Security</b></h4>
                    <br>
                    <p>Employer:E-Hope</p>
                    <li>Requirements:Btech/Degree in IT</li>
                    <br>
                    <li>Worktime:7-8hrs</li>
                    <br>
                    <li>Salary:25,000 per month</li>
                    <br>
                    <p>Contact:tsft@gmail.com<p>
                    <a class="btn btn-success" onclick="fun2()">Apply Now</a>
                    <script>
                        function fun2()
                        {
                            alert("You have applied for Cyber Security");
                        }
                    </script>

                    </div>

                <br>
                <br>
                <!-- <div class="row" style="border: 3px solid black;"> -->
                    <div class="jobcard">
                    <h4><b>Data Analyst</b></h4>
                    <br>
                    <p>Employer:TechSoft</p>
                    <li>Requirements:Btech/Degree in IT</li>
                    <br>
                    <li>Worktime:7-8hrs</li>
                    <br>
                    <li>Salary:30,000 per month</li>
                    <br>
                    <p>Contact:tsft@gmail.com<p>
                    <a class="btn btn-success" onclick="fun3()">Apply Now</a>
                    <script>
                        function fun3()
                        {
                            alert("You have applied for Data Analyst");
                        }
                    </script>
                    </div>


                <!-- </div> -->
                <br>
                <!-- <div class="row" style="border: 3px solid black;"> -->
                            <div class="jobcard">
                    <h4><b>UI UX Designer</b></h4>
                    <br>
                    <p>Employer:Softeronics</p>
                    <li>Requirements:Btech/Degree in IT</li>
                    <br>
                    <li>Worktime:4-5hrs</li>
                    <br>
                    <li>Salary:40,000 per month</li>
                    <br>
                    <p>Contact:tsft@gmail.com<p>
                    <a class="btn btn-success" onclick="fun4()">Apply Now</a>
                    <script>
                        function fun4()
                        {
                            alert("You have applied for UI UX Designer");
                        }
                    </script>
                    </div>

                <!-- </div> -->
                <br>
                <!-- <div class="row" style="border: 3px solid black;"> -->

                            <div class="jobcard">
                    <h4><b>Fullstack Developer</b></h4>
                    <br>
                    <p>Employer:E-Hope</p>
                    <li>Requirements:Btech/Degree in IT</li>
                    <br>
                    <li>Worktime:6-7hrs</li>
                    <br>
                    <li>Salary:30,000 per month</li>
                    <br>
                    <p>Contact:tsft@gmail.com<p>
                    <a class="btn btn-success" onclick="fun5()">Apply Now</a>
                    <script>
                        function fun5()
                        {
                            alert("You have applied for Fullstack developer");
                        }
                    </script>
                    </div>


                <!-- </div> -->
                <br>
                <!-- <div class="row" style="border: 3px solid black;"> -->

                            <div class="jobcard">
                    <h4><b>Computer Hardware Technician</b></h4>
                    <br>
                    <p>Employer:TechSoft</p>
                    <li>Requirements:Btech/Degree in IT</li>
                    <br>
                    <li>Worktime:8-9hrs</li>
                    <br>
                    <li>Salary:60,000 per month</li>
                    <br>
                    <p>Contact:tsft@gmail.com<p>
                    <a class="btn btn-success" onclick="fun6()">Apply Now</a>
                    <script>
                        function fun6()
                        {
                            alert("You have applied for Computer Hardware Technician");
                        }
                    </script>
                    </div>
                <br>
                {% for j in data %}
                                            <div class="jobcard">
                    <h4><b>{{j.cmpnyName}}</b></h4>
                    <br>
                    <p>Employer:{{j.cmpnyfield}}</p>
                    <li>Requirements:Btech/Degree in IT</li>
                    <br>
                    <li>Worktime:6-7hrs</li>
                    <br>
                    <li>Salary:30,000 per month</li>
                    <br>
                    <p>Contact:{{j.phNumber}}<p>
                    <p>Email:{{j.email}}</p>
                    <a class="btn btn-success" onclick="fun5()">Apply Now</a>
                    <script>
                        function fun5()
                        {
                            alert("You have applied for {{j.cmpmyname}}");
                        }
                    </script>
                    </div>
                {% endfor %}


            </div>
            <div>
                {% for i in data %}
                <div class="employeecard">
                    <br>
                    <i class="fa fa-user-circle fa-4x"></i>
                    <p>{{i.name}}</p>
                    <p class="title"></p>
                    <i class="fa fa-envelope">Email:{{i.email}}</i>
                    <i class="fa fa-map-marker">Location:Calicut</i>
                    <i class="fa fa-phone">Phone:{{i.phNumber}}</i>
                    <a class="btn btn-danger" href="resume.html">Upload resume</a>
                </div>
                {% endfor %}
            </div>
        </div>
</body>
</html>