<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

</head>

<body>



<div class="profileborder">
    <img src="{% static 'images/img_avatar.png' %}" >
    <div class="namecard">

    <h1 style="font-size:70px;">{{ data.name }}</h1>
        </div>
        <div class="userdetails">
        <h2>{{ data.education }}</h2>
        <h2>{{ data.age }}</h2>
        <h2>{{data.location}}</h2>
        <h2>{{ data.email }}</h2>

        </div>

    <a href = "{% url 'resume' %}" class="resumeButton">upload resume</a>
</div>


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/jobView.css' %}" type="text/css">


{% endblock %}
</body>
